.input {
  background-color: white;
  height: fit-content;
  border-radius: 5px;
  padding: 7px 8px;
  font-size: 18px;
  border: none;
}

.submit {
  width: 85px;
  height: 21px;
  color: white;
  background-color: #0079bf;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  line-height: 100%;
}

.add__new__task {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}